@* addProductForm defined above is the parameter passed to this view by the controller *@
@import helper._

@(addFiveDayForm: play.data.Form[models.Product],user: models.users.Users)

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@

@main("ConfirmLoan", user) {
	<h3>Five Day Loan</h3>
	
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.HomeController.FiveDayLoan(user.getEmail), 'class -> "form-horizontal", 'role->"form") {
		<!-- Hidden ID field - required for product updates -->	
		@inputText(addFiveDayForm("stock"), '_label -> "", 'style -> "display: none")
		@inputText(addFiveDayForm("id"), '_label -> "", 'style -> "display: none")
		@inputText(addFiveDayForm("name"), '_label -> "", 'style -> "display: none")

        <p> Five Day loan </p>
	<!-- Add a submit button -->
	<div class="actions">
		<input type="submit" value="Save" class="btn btn-primary">
		<a href="@routes.HomeController.rent()"><button  type="button" value= @routes.HomeController.rent() class="btn btn-warning">Cancel</button>
		</a>
	</div>
	} <!-- End Form definition -->

} <!-- End of page content -->

